<!DOCTYPE html>
<html>
	<head>
		<title>Login Page</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/styles.css" />
	</head>
	<body>
		<div id="app">
			<div class="container">
				<form class="form">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" name="email" v-model="email" @input="process" />
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" name="password" v-model="password" @input="process" />
					</div>
					<button v-cloak v-if="noErrors" @click="formSubmit" type="submit" class="btn btn-primary">Submit</button>
				</form>
				<div class="errors" v-if="!noErrors">
					<section v-cloak v-if="email" class="email-errors">
						<span class="warning" :class="{valid: emailObj.emailSuccess}">{{emailObj.emailText}}</span>	
					</section>
					<section v-cloak class="password-errors" v-if="password">
						<span class="warning" :class="{valid: passwordObj.pwLengthSuccess}">At least 8 characters</span>
						<span class="warning" :class="{valid: passwordObj.pwUCSuccess}">At least one uppercase character</span>
						<span class="warning" :class="{valid: passwordObj.pwLCSuccess}">At least one lowercase character</span>
						<span class="warning" :class="{valid: passwordObj.pwSCSuccess}">At least one special character</span>
						<span class="warning" :class="{valid: passwordObj.pwDigSuccess}">At least one digit</span>
					</section>
				</div>
			</div>
		</div>
	</body>
	<script src="js/vue.js"></script>
	<script src="js/scripts.js"></script>
</html>